@import "../variable.styl"
@import "../helper.styl"

.content__body--others
    margin-top 1rem
    flex-design()
    flex-direction row
    .first
        .calendar
            .actions
                flex-design()
                flex-direction row
                align-items center
                justify-content space-around
                padding .5rem 0
                select
                    flex-design()
                button
                    flex-design()
    .second
        flex 2