@import "../helper.styl"
@import "../variable.styl"

.content__body--time
    padding 1rem
    display flex
    width 100%
    margin .6rem 0
    flex-design()
    flex-center()
    .time__item
        flex-design()
        flex-direction column
        flex-center()
        background-color #fff
        box-shadow 0 0 .5rem #888
        height 5rem
        margin 0 .4rem
        &.time--left, &.time--right
            color $content-bg-color
    .time--content
        flex 2
        &.active
            border-top 3px solid $header-bg-color
        i.fa.fa-rmb
            color $content-bg-color
        i.fa.fa-calendar-check-o
            color $header-bg-color
        .money__number
            font-size 1.2rem
            color #ED6907

