//
   Created by Annatar on 2016/3/17.
.panel.first
    .panel__heading
        h3 日历
    .panel__body
        h2 foo
.panel.second
    .panel__heading
        h3 汽车行业品牌榜
    .panel__body
        table.table
            tr
                td 排名
                td 品牌
                td 搜索指数
            tr
                td 1
                td 大众
                td
                    span 48912001
                    .process.process--red
                        div(style='width: 80%')
            tr
                td 2
                td 丰田
                td
                    span 48912001
                    .process.process--red
                        div(style='width: 80%')
            tr
                td 1
                td 大众
                td
                    span 48912001
                    .process
                        div(style='width: 80%')
            tr
                td 1
                td 大众
                td
                    span 48912001
                    .process
                        div(style='width: 80%')
            tr
                td 1
                td 大众
                td
                    span 48912001
                    .process
                        div(style='width: 80%')
            tr
                td 1
                td 大众
                td
                    span 48912001
                    .process
                        div(style='width: 80%')
            tr
                td 1
                td 大众
                td
                    span 48912001
                    .process
                        div(style='width: 80%')
            tr
                td 1
                td 大众
                td
                    span 48912001
                    .process
                        div(style='width: 80%')
