//
   Created by Annatar on 2016/3/17.

.panel.first
    .panel__heading
        h3 第一组项目
    .panel__body
        .tabs
            .tabs__nav
                .tab.active
                    span 项目一
                .tab
                    span 项目一
                .tab
                    span 项目一
                .tab
                    span 项目一
            .tabs__content.tabs__content--border
                table.table
                    tr
                        td.active 购买材料一
                        td 购买材料一
                        td 购买材料一
                        td 购买材料一
                    tr
                        td 购买材料一
                        td 购买材料一
                        td 购买材料一
                        td 购买材料一
                    tr
                        td 购买材料一
                        td 购买材料一
                        td 购买材料一
                        td 购买材料一
                    tr
                        td 购买材料一
                        td 购买材料一
                        td 购买材料一
                        td 购买材料一

.panel.second
    .panel__heading
        h3 第一组项目
    .panel__body
        .second__body
            .title
                span.heading 标题
                span.text 项目报表三
            .content
                .price
                    span.heading 价格
                    span.text ￥ 158
                .chage
                    span.heading 负责人
                    span.text 小A
            .desc
                span.heading 详细描述
                span.text 该项目目前的负责人是frontendless
    .panel__footer
        .second__footer
            .checkbox
                input(type='checkbox', checked='checked')
                span 遵守保密协议
            .button
                button.button.button--search.button--small 搜索
