//
   Created by Annatar on 2016/3/17.
.time__item.time--left
    span.icon &lt;
.time__item.time--content.active
    span.colck 10:00 am
    .money
        i.fa.fa-rmb
        span.money__number 1200
.time__item.time--content
    span.colck 10:00 am
    .money
        i.fa.fa-rmb
        span.money__number 1200
.time__item.time--content
    span.colck 10:00 am
    .money
        i.fa.fa-rmb
        span.money__number 1200
.time__item.time--content
    span.colck 10:00 am
    .money
        i.fa.fa-rmb
        span.money__number 1200
.time__item.time--content
    span.colck 10:00 am
    .money
        i.fa.fa-rmb
        span.money__number 1200
.time__item.time--content
    span.colck 10:00 am
    .money
        i.fa.fa-rmb
        span.money__number 1200
.time__item.time--right
    span.icon &gt;
.time__item.time--content
    i.fa.fa-calendar-check-o.fa-2x
    span.title 历史查询
