//
   Created by Annatar on 2016/3/14.
header.header
    .header__icon
        img(src='http://ife.baidu.com/asset/img/logo.png').header__banner
    .header__right
        .search__icon
            i.fa.fa-search.fa-lg
            input(type='text')
        .header__login
            i.fa.fa-user.fa-lg
            a.header__login(href='javascript:;') 登录
