doctype html
html
    head
        title baidu-ife
        link(rel='stylesheet', href='//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='./index.css')
    body
        .container
            include ./header
            .body
                include ./navbar
                include ./content

