@import "./variable"

.button
    border none
    &--search
        background-color $header-bg-color
        color #fff
    &--large
        padding .7rem 1.5rem
    &--small
        padding .2rem .4rem
    &--normal
        background-color #fff
        border 1px solid darken($content-bg-color, 10%)
        text-align center
