@import "variable.styl"
.table
    width 100%
    tr
        td
            text-align center
            border 1px solid #eee
            padding .5rem
            &.active
                background-color $content-bg-color
