$font-family = 'Hack'
$font-size = 14px
// header
$header-bg-color = #37A9E5

// navbar
$navbar-bg-color = #151C39
$navbar-bg-color-active = #222B52
$navbar-font-color = #465E87
$navbar-font-color-active = #C8D6EF
$navbar-name-color = #E9F2FF

// content
$content-container-bg-color = #FEFEFE
$content-nav-font-color = #ADB5B7
$content-nav-font-color-active = #92BCD2

$content-bg-color = #E9EDEC
$content-alert-money = #D77F59

// panel
$panel-header-bg-color = #F1F6F9
$panel-header-font-color = #B7C5C5
$panel-border-color = #CED2D5